<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth scroll-pt-20">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isaac | Dev</title>
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/favicon/site.webmanifest" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/5432a0e64c.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- LottieFiles -->
    <script
      src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
      type="module"
    ></script>

    <!-- Umami Analytics -->

    <!-- Estilos extras -->
    <style>
      /* Fonte */
      body {
        font-family: "Poppins", sans-serif;
      }

      /* Animação da mãozinha */
      @keyframes wave {
        0% {
          transform: rotate(0deg);
        }

        15% {
          transform: rotate(14deg);
        }

        30% {
          transform: rotate(-8deg);
        }

        45% {
          transform: rotate(14deg);
        }

        60% {
          transform: rotate(-4deg);
        }

        75% {
          transform: rotate(10deg);
        }

        100% {
          transform: rotate(0deg);
        }
      }

      .wave-hand {
        display: inline-block;
        animation: wave 2s ease-in-out infinite;
        transform-origin: 70% 70%;
      }
    </style>
  </head>

  <body>
    <!-- header -->
    <header class="fixed top-0 left-0 right-0 z-50 p-2 bg-slate-800">
      <!-- nav -->
      <nav
        class="bg-slate-800/80 backdrop-blur-md fixed top-0 left-0 right-0 z-50 p-2 flex items-center justify-between md:justify-around"
      >
        <!-- logo -->
        <a href="#" class="flex items-center gap-2">
          ><img
            src="./img/dev-jose.png"
            alt="Logo de José Isaac"
            class="w-12 md:w-16 rounded-full hover:scale-110 transition duration-300"
          />
          <!-- span para desktop com nome -->
          <span class="hidden md:inline text-white font-semibold"
            >joseisaacpy</span
          >
        </a>
        <!-- menu -->
        <ul
          id="menu"
          class="hidden md:flex md:gap-4 md:items-center text-white flex-col md:flex-row absolute md:static top-full left-0 w-full md:w-auto bg-slate-800 md:bg-transparent transition-all duration-300"
        >
          <li>
            <a
              href="#home"
              class="hover:text-blue-400 hover:scale-105 transition-all block p-2"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#sobre"
              class="hover:text-blue-400 hover:scale-105 transition-all block p-2"
              >Sobre</a
            >
          </li>
          <li>
            <a
              href="#tecnologias"
              class="hover:text-blue-400 hover:scale-105 transition-all block p-2"
              >Tecnologias</a
            >
          </li>
          <li>
            <a
              href="#projetos"
              class="hover:text-blue-400 hover:scale-105 transition-all block p-2"
              >Projetos</a
            >
          </li>
          <li>
            <a
              href="#contato"
              class="hover:text-blue-400 hover:scale-105 transition-all block p-2"
              >Contato</a
            >
          </li>
        </ul>
        <!-- menu mobile -->
        <div class="md:hidden">
          <button class="text-white" id="btn-menu">
            <i class="fa-solid fa-bars fa-2xl"></i>
          </button>
        </div>
      </nav>
    </header>

    <!-- main -->
    <main>
      <!-- section hero -->
      <section
        id="home"
        class="relative flex flex-col items-center justify-center h-[100vh] bg-cover bg-fixed bg-center bg-no-repeat bg-[url('https://joseisaacpy.github.io/developer-portfolio/img/hero/hero-image.webp')] text-white"
      >
        <!-- Overlay escuro -->
        <div class="absolute inset-0 bg-black/50"></div>
        <!-- Conteúdo acima do overlay -->
        <div
          class="p-2 relative z-10 flex flex-col items-center justify-center h-full text-white text-center"
        >
          <h1 class="text-4xl md:text-6xl font-extrabold mb-4 text-center">
            Olá, me chamo <span class="text-blue-500">José Isaac</span>!<span
              class="wave-hand"
              >👋🏽</span
            >
          </h1>
          <p class="text-xl md:text-2xl font-medium mb-2">
            Desenvolvedor
            <span class="text-blue-500 font-bold">Front-End</span>
          </p>
          <p class="text-lg md:text-xl text-gray-200">
            Transformando ideias em códigos e tomando um cafezinho.
          </p>
          <p class="text-lg md:text-xl text-blue-500 font-bold">
            Vamos criar algo juntos?
          </p>
        </div>
      </section>
      <!-- section sobre -->
      <section id="sobre" class="py-16 bg-white text-gray-900">
        <!-- Container -->
        <div class="mx-auto px-4 flex flex-col md:flex-row items-center gap-8">
          <!-- Foto -->
          <div class="w-full md:w-1/3 flex justify-center">
            <dotlottie-player
              src="https://lottie.host/70307135-523e-4663-93bd-03157061582f/gAH1c0RWfi.lottie"
              background="transparent"
              speed="1"
              style="width: 300px; height: 300px"
              loop
              autoplay
            ></dotlottie-player>
          </div>

          <!-- Textos -->
          <div class="w-full md:w-2/3 text-center md:text-left">
            <h2 class="text-3xl font-bold mb-4 text-blue-600">
              Sobre Mim
              <i class="fa fa-coffee text-gray-700 ml-2"></i>
              <i class="fa-solid fa-laptop-code text-gray-700 ml-1"></i>
            </h2>
            <p class="text-lg leading-relaxed mb-4">
              Sou um
              <strong class="text-blue-600">desenvolvedor Front-End</strong>
              focado em transformar ideias em experiências digitais com
              personalidade. Com o notebook sempre na tomada e uma xícara de
              café ao lado, crio interfaces modernas, funcionais, acessíveis e
              responsivas.
            </p>
            <p class="text-lg leading-relaxed">
              Apaixonado por <strong class="text-blue-600">tecnologia</strong>,
              estou em constante evolução — aprendendo novas ferramentas e em
              busca de novos desafios.
            </p>
            <!-- Botão Currículo -->
            <a
              href="/curriculo"
              target="_blank"
              class="inline-block mt-6 px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded shadow transition duration-300"
            >
              Baixar Currículo
            </a>
          </div>
        </div>
      </section>
      <!-- section tecnologias -->
      <section
        id="tecnologias"
        class="py-16 bg-cover text-gray-900 bg-gradient-to-br from-blue-50 via-indigo-50 to-purple-50"
      >
        <!-- Container de tecnologias -->
        <div class="container mx-auto px-4">
          <h2 class="text-3xl font-bold text-center text-blue-600 mb-5">
            Tecnologias
          </h2>

          <div
            id="container-tecnologias"
            class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 justify-center"
          >
            <!-- HTML, CSS e Tailwind -->
            <div
              class="flex flex-col items-center justify-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <div class="flex space-x-3 mb-2">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
                  alt="Logo do HTML5"
                  class="h-8 md:h-10"
                />
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
                  alt="Logo do CSS3"
                  class="h-8 md:h-10"
                />
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
                  alt="Logo do Tailwind CSS"
                  class="h-8 md:h-10"
                />
              </div>
              <p class="text-sm font-medium text-center">
                HTML, CSS e Tailwind CSS
              </p>
            </div>

            <!-- JavaScript -->
            <div
              class="flex flex-col items-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
                alt="Logo do JavaScript"
                class="h-16"
              />
              <p class="mt-2 text-sm font-medium">JavaScript</p>
            </div>

            <!-- Node.js -->
            <div
              class="flex flex-col items-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
                alt="Logo do Node.js"
                class="h-16"
              />
              <p class="mt-2 text-sm font-medium">Node.js</p>
            </div>

            <!-- Express.js -->
            <div
              class="flex flex-col items-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg"
                alt="Logo do Express.js"
                class="h-16"
              />

              <p class="mt-2 text-sm font-medium">Express.js</p>
            </div>

            <!-- MySQL -->
            <div
              class="flex flex-col items-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"
                alt="Logo do MySQL"
                class="h-16"
              />
              <p class="mt-2 text-sm font-medium">MySQL</p>
            </div>

            <!-- SQLite -->
            <div
              class="flex flex-col items-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg"
                alt="Logo do SQLite"
                class="h-16"
              />
              <p class="mt-2 text-sm font-medium">SQLite</p>
            </div>
            <!-- MongoDB -->
            <div
              class="flex flex-col items-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
                alt="Logo do MongoDB"
                class="h-16"
              />
              <p class="mt-2 text-sm font-medium">MongoDB</p>
            </div>
            <!-- Git e GitHub -->
            <div
              class="flex flex-col items-center bg-white border shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition duration-300"
            >
              <div class="flex space-x-3 mb-2">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
                  alt="Logo do Git"
                  class="h-10 md:h-16"
                />
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
                  alt="Logo do GitHub"
                  class="h-10 md:h-16"
                />
              </div>
              <p class="text-sm font-medium text-center">Git e GitHub</p>
            </div>
          </div>
        </div>
      </section>
      <!-- section projetos -->
      <section
        id="projetos"
        class="relative py-16 bg-gray-100 text-gray-800 bg-fixed bg-cover bg-center bg-[url('/img/background-techs.webp')]"
      >
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black opacity-50"></div>

        <h2
          class="relative z-10 text-3xl font-bold text-center text-white mb-5"
        >
          Projetos
        </h2>
        <div
          id="container-projetos"
          class="relative z-10 grid p-2 items-center justify-center m-auto grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3"
        ></div>
      </section>
      <!-- section contato -->
      <section
        id="contato"
        class="bg-black flex flex-col items-center justify-center p-4"
      >
        <h4 class="text-2xl md:text-3xl font-bold text-center text-white">
          Conexões constroem pontes — vamos conversar!
        </h4>
        <div
          class="p-2 flex flex-col items-center justify-center w-full md:max-w-[80%]"
        >
          <img
            src="./img/japan.webp"
            alt=""
            class="w-full max-h-[200px] md:max-h-[350px] object-cover rounded-t-2xl"
          />
          <div
            class="p-3 bg-white flex items-center justify-center gap-4 rounded-b-2xl w-full"
          >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/jos%C3%A9-isaac-nascimento/"
              class="hover:scale-105 transition duration-300 hover:text-blue-500"
              ><i class="text-3xl fa-brands fa-linkedin"></i
            ></a>
            <a
              target="_blank"
              href="https://github.com/joseisaacpy"
              class="hover:scale-105 transition duration-300 hover:text-blue-500"
              ><i class="text-3xl fa-brands fa-github"></i
            ></a>
            <a
              target="_blank"
              href="https://www.instagram.com/j0se_isaacsn/"
              class="hover:scale-105 transition duration-300 hover:text-blue-500"
              ><i class="text-3xl fa-brands fa-instagram"></i
            ></a>
            <!-- Âncora pra copiar e-mail -->
            <a
              onclick="navigator.clipboard.writeText('joseisaacnascimento@gmail.com'); alert('E-mail copiado!')"
              title="Copiar e-mail"
              class="cursor-pointer hover:scale-105 transition duration-300 hover:text-blue-500"
            >
              <i class="text-3xl fa-solid fa-envelope"></i>
            </a>
          </div>
        </div>
      </section>
    </main>
    <!-- footer -->
    <footer class="p-4 bg-black text-white text-center">
      <p class="font-light">
        &copy; 2025 <strong>joseisaacpy</strong> – Todos os direitos reservados.
      </p>
    </footer>
    <!-- JS -->
    <script>
      const btnMenu = document.getElementById("btn-menu");
      const menu = document.getElementById("menu");

      btnMenu.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });

      // Fecha o menu ao clicar em um link (em telas pequenas)
      const menuLinks = menu.querySelectorAll("a");
      menuLinks.forEach((link) => {
        link.addEventListener("click", () => {
          if (window.innerWidth < 768) {
            menu.classList.add("hidden");
          }
        });
      });
    </script>
    <script type="module" src="./js/render-projetos.js"></script>
  </body>
</html>
