<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isaac | Dev</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Font-Awesome -->
    <script
      src="https://kit.fontawesome.com/5432a0e64c.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Umami Analytics -->

    <!-- Estilos extras -->
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- header -->
    <header>
      <nav class="flex items-center justify-between p-4 bg-gray-800 text-white">
        <h1>Logo</h1>
        <ul class="flex gap-2">
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Tecnologias</a></li>
          <li><a href="#">Projetos</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>
    <!-- main -->
    <main>
      <!-- section hero -->
      <section
        class="relative flex flex-col items-center justify-center h-[100vh] bg-cover bg-fixed bg-center bg-no-repeat bg-[url('https://joseisaacpy.github.io/developer-portfolio/img/hero/hero-image.webp')] text-white"
      >
        <!-- Overlay escuro -->
        <div class="absolute inset-0 bg-black/50"></div>
        <!-- Conteúdo acima do overlay -->
        <div
          class="p-2 relative z-10 flex flex-col items-center justify-center h-full text-white text-center"
        >
          <h1 class="text-4xl md:text-6xl font-extrabold mb-4 text-center">
            Olá, me chamo <span class="text-blue-400">José Isaac</span>!
          </h1>
          <p class="text-xl md:text-2xl font-medium mb-2">
            Desenvolvedor
            <span class="text-blue-300 font-bold">Front-End</span>
          </p>
          <p class="text-lg md:text-xl text-gray-200">
            Transformando ideias em código.<span
              class="text-blue-300 font-bold"
            >
              Vamos criar algo juntos?</span
            >
          </p>
        </div>
      </section>
      <!-- section sobre -->
      <section id="sobre" class="py-16 bg-gray-100 text-gray-800">
        <!-- Container -->
        <div class="mx-auto px-4 flex flex-col md:flex-row items-center gap-8">
          <!-- Foto -->
          <div class="w-full md:w-1/3 flex justify-center">
            <img
              src="/img/foto-perfil.webp"
              alt="José Isaac"
              class="rounded-full w-64 h-64 object-cover shadow hover:scale-110 duration-300"
            />
          </div>

          <!-- Textos -->
          <div class="w-full md:w-2/3 text-center md:text-left">
            <h2 class="text-3xl font-bold mb-4 text-blue-600">Sobre Mim</h2>
            <p class="text-lg leading-relaxed mb-4">
              Olá! Sou <strong class="text-blue-600">José Isaac</strong>, um
              desenvolvedor Front-End focado em transformar ideias em
              experiências digitais impactantes. Curioso por natureza, gosto de
              criar interfaces modernas, funcionais e acessíveis.
            </p>
            <p class="text-lg leading-relaxed">
              Estou sempre buscando evoluir, aprendendo novas ferramentas e
              colaborando em projetos que gerem valor real para as pessoas.
            </p>

            <!-- Botão Currículo -->
            <a
              href="/curriculo.pdf"
              target="_blank"
              class="inline-block mt-6 px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded shadow transition duration-300"
            >
              Baixar Currículo
            </a>
          </div>
        </div>
      </section>

      <!-- section tecnologias -->
      <section id="tecnologias">
        <div id="tecnologias"></div>
      </section>
      <!-- section projetos -->
      <section id="projetos">
        <div
          id="container-projetos"
          class="grid p-2 items-center justify-center m-auto grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3"
        ></div>
      </section>
      <!-- section contato -->
    </main>
    <!-- footer -->
    <footer></footer>
    <!-- JS -->
    <script src="./js/index.js"></script>
  </body>
</html>
